.qualities {
    margin-top: 120px;
}

.qualitiesBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qualitiesText {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 2px;
}

.qualitiesBox h4{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    padding: 37px 0 24px 0;
}

.qualitiesBox p {
    width: 305px;
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}